<a href="https://colab.research.google.com/github/seankupperman/BTE-320/blob/main/InClassAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Radius = float(input("Please enter radius: "))
Height = float(input("Please enter height: "))
pi = 3.14
area = ( 2 * pi * Radius **2) + (2 * pi * Radius * Height)
print("Area of Cylinder:", area, "sq. ft")
type(area)

Please enter radius: 5
Please enter height: 5
Area of Cylinder: 314.0 sq. ft

float

In [ ]:
n1 = float(input("Please enter number 1: "))
n2 = float(input("Please enter number 2: "))
op = input("Please enter the operation: ")

if op == "+":
  print(n1 + n2)
elif op == "-":
  print(n1 - n2)
elif op == "*":
  print(n1 * n2)
elif op == "/":
  print(n1 / n2)
elif op == "//":
  print(n1 // n2)
elif op == "**":
  print(n1 ** n2)
elif op == "%":
  print(n1 % n2)
else:
  print("Invalid operation")

Please enter number 1: 1
Please enter number 2: 1
Please enter the operation: +
2.0

In [ ]:
x = 5
if x % 2 == 0:
  res = 'Even'
else:
  res = 'Odd'
print(res)

In [ ]:
x = 5
res = 'Even' if x % 2 == 0 else 'Odd'
print(res)

In [13]:
for numberHours in range(1, 9):
  fee = 5 + 2.5 * numberHours
  if fee < 10:
    fee = 10
  elif fee > 20:
    fee = 20
  print(numberHours, fee)

1 10
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20
8 20

In [25]:
import math

print('ad$\t', 'Profit')
for adMoney in range(0, 201, 25):
  revenue = (20 + 2 * round(math.sqrt(adMoney))) * 10
  cost = 200 + adMoney
  profit = revenue - cost
  print(adMoney, "\t", profit)

ad$	 Profit
0 	 0
25 	 75
50 	 90
75 	 105
100 	 100
125 	 95
150 	 90
175 	 85
200 	 80